.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 93vw;
    border-radius: 3.4483vh;
    background:  #EDECEE;
    height: 15.5172vh;
    margin-top: 11px;
    margin-left: 3.5vw;
    margin-right: 3.5vw;

    &__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: start;
        margin-left: 97px;
        width: 21.5517vh;
        height: 10.6897vh;
        img{
            width: 21.5517vh;
            height: 10.6897vh;

        }
    }

    &__navigation{
        display: flex;
        flex-direction: row;
        column-gap: 5.1724vh;
        font-family: "VK Sans Display Medium";
        font-weight: 400;
        font-style: normal;
        color: #000;
        font-size: 3.1034vh; 
        position: absolute;
        left: 40%;
        align-items: center;
        li{
            font-family: "VK Sans Display Medium";
            font-weight: 500;
            font-style: normal;
            cursor: pointer;
            text-transform: lowercase;
        }
    }
}