.about {
    width: 100%;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 49em;
    display: flex;
    flex-direction: row;
    column-gap: 27em;
    &__left {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 3em;
        row-gap: 50px;

        h2 {
            color: #FFF;
            font-family: "Kanit", sans-serif;
            font-size: 80px;
            font-weight: 500;
            line-height: 120%; /* 96px */
        }

        h3 {
            width: 407px;
            color: #FFF;
            font-family: "Kanit", sans-serif;
            font-size: 26px;
            font-weight: 300;
            line-height: 120%; /* 31.2px */
        }
    }

    &__right {
        display: flex;
        align-items: end;
        padding-bottom: 12em;
        
        &__btn {
            width: 229px;
            height: 52px;
            flex-shrink: 0;
            button {
                display: inline-flex;
                padding: 14px 41px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 15px;
                border: 1px solid #FFF500;
                background: #FFF500;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                color: #000;
                font-family: "Kanit", sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 120%; /* 24px */
            }
        }
    }
}