.card{
    width: 403px;
    height: 534px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 32px;
    background:  #FFF;
    box-shadow: 0px 0px 7.3px 0px rgba(0, 0, 0, 0.25);
    font-family: "Kanit", sans-serif;
    &__photo{
        width: 403px;
        height: 254px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        padding-bottom: 34px;
        padding-left: 28px;
        padding-top: 30px;
        &__name{
            width: 342px;
            height: 45px;
           
            flex-shrink: 0;
            color: #000;
            
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120% /* 28.8px */;
           
        }
        &__info{
            width: 355px;
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            gap: 11px 6px;
            flex-wrap: wrap;
            justify-content: start;
            
            &__bedblock{
                height: 26px;
                
                display: flex;
                padding: 0px 9px;
                justify-content: center;
                align-items: center;
                gap: 2px;
                border-radius: 8px;
                border: 1px solid  #000;
            }
            &__license{
                height: 26px;

                display: flex;
                padding: 0px 9px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                border: 1px solid  #000;
                color: #222;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 120% /* 16.8px */;
               
            }
            &__engine{
                border-radius: 8px;
                border: 1px solid  #000;
                color: #222;
                display: flex;
                justify-content: center;
                align-content: center;
                padding: 0px 9px;
                gap: 10px;
            }
            &__showerblock{
                border-radius: 8px;
                border: 1px solid  #000;
                color: #222;
                display: flex;
                justify-content: center;
                align-content: center;
                padding: 0px 9px;
                gap: 10px;
            }
            &__type{
                border-radius: 8px;
                border: 1px solid  #000;
                color: #222;
                display: flex;
                justify-content: center;
                align-content: center;
                padding: 0px 9px;
                gap: 10px;
            }
            &__toilet{
                height: 26px;

                display: flex;
                padding: 0px 9px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                border: 1px solid #000;
               
            }
        }
    }
}